@use "abstracts/mixins" as m;

.btn {
  @include m.transition(background border-color);
  display: inline-block;
  vertical-align: middle;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  padding: var(--btn-padding);
  color: var(--btn-color);
  background: var(--btn-background);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  cursor: pointer;

  @include m.hover {
    color: var(--btn-color);
    background: var(--btn-hover-background);
    border-color: var(--btn-hover-border-color);
  }

  @include m.minMediaQuery(768px) {
    text-transform: uppercase;
  }
}
