$breakpoint-phone: 520px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1200px;

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #727272;
  --color-orange: #ff8904;
  --color-dark-orange: #e05504;
  --color-red: #d60606;

  --base-font-family: "Montserrat", sans-serif;
  --base-font-size: 14px;
  --base-line-height: 1.5;
  --base-font-weight: 400;
  --base-margin-bottom: 15px;

  --container-max-width: 1200px;
  --container-padding: 15px;

  --heading-font-family: var(--base-font-family);
  --heading-line-height: 1.2;
  --heading-font-weight: 700;
  --h1-font-size: 32px;
  --h2-font-size: 28px;
  --h3-font-size: 20px;
  --h4-font-size: 18px;
  --h5-font-size: 16px;
  --h6-font-size: 14px;

  --link-color: var(--color-orange);
  --link-hover-color: var(--color-dark-orange);
  --link-text-decoration: none;

  --btn-font-family: var(--base-font-family);
  --btn-font-size: 16px;
  --btn-line-height: var(--base-line-height);
  --btn-padding: 10px 25px;
  --btn-color: var(--white);
  --btn-background: var(--color-orange);
  --btn-border: 1px solid var(--color-orange);
  --btn-border-radius: 25px;

  --btn-hover-background: var(--color-dark-orange);
  --btn-hover-border-color: var(--color-dark-orange);

  --input-height: 46px;
  --input-color: var(--color-black);
  --input-placeholder-color: var(--color-gray);
  --input-padding: 10px 15px;
  --input-border-color: var(--color-black);
  --input-hover-border-color: var(--color-orange);

  --base-transition-duration: 0.3s;
  --base-transition-timing-function: ease-in-out;
}
